@{
    ViewData["Title"] = "Ubicaciones - Editar";
}
@model UbicacionEditarViewModel

<div class="encabezado_box row">
    <h1 class="col miFuente tamaño_Titulos mt-5 mb-5 centrarHorizontal">
        Edicion de la ubicacion <i class="bi bi-geo-alt-fill"></i> <i class="bi bi-pen-fill"></i>
    </h1>
</div>

<div asp-validation-summary="ModelOnly" class="text-light"></div>

<form asp-action="Editar">
    <div class="row">
        <div class="col">
            @*Nombre*@
            <div class="mb-3 mt-3">
                <label class="miFuente form-label" asp-for="Nombre"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Nombre del tipo de evento"></input>
                <span asp-validation-for="Nombre" class="text-light"></span>
            </div>

            @*Direccion*@
            <div class="mb-3 mt-3">
                <label class="miFuente form-label" asp-for="Direccion"></label>
                <input asp-for="Direccion" class="form-control" placeholder="Direccion"></input>
                <span asp-validation-for="Direccion" class="text-light"></span>
            </div>

            @*Direccion Url*@
            <div class="mb-3 mt-3">
                <label class="miFuente form-label" asp-for="DireccionUrl"></label>
                <input asp-for="DireccionUrl" class="form-control" placeholder="Url relacionado a la ubicacion"></input>
                <span asp-validation-for="DireccionUrl" class="text-light"></span>
            </div>

            @*Capacidad Personas*@
            <div class="mb-3 mt-3">
                <label class="miFuente form-label" asp-for="CapacidadPersonas"></label>
                <input asp-for="CapacidadPersonas" class="form-control" placeholder="Capacidad de personas"></input>
                <span asp-validation-for="CapacidadPersonas" class="text-light"></span>
            </div>

        </div>

        <div class="col">
            @*Servicios*@
            <div class="mb-3 mt-3">
                <label class="miFuente form-label" asp-for="Servicios"></label>
                <textarea asp-for="Servicios" class="form-control" type="text" placeholder="Servicios disponibles"></textarea>
                <span asp-validation-for="Servicios" class="text-light"></span>
            </div>

            @*Descripcion*@
            <div class="mb-3 mt-3">
                <label class="miFuente" asp-for="Descripcion">Descripcion</label>
                <textarea asp-for="Descripcion" class="form-control" type="text" placeholder="Descripcion"></textarea>
                <span asp-validation-for="Descripcion" class="text-light"></span>
            </div>

            <button class="btn botones_estilo_2" type="submit">Guardar <i class="bi bi-save"></i></button>
            <a asp-action="Index" class="btn botones_estilo_1" style="margin-left:2rem;">Cancelar <i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</form>