@{
    ViewData["Title"] = "Event Central - Centro De Eventos";
}

@*Titulo y Presentacion*@
<div class="encabezado_box miFuente">
    <div class="row">
        <div class="col mt-5 mb-5" style="text-align:center;">
            <img src="~/media/logo-EventCentral.png" alt="logo del sistema" class="logoEventCentral mb-5"/>
            <h4 class="tamaño_Titulos"><i class="bi bi-house-gear-fill"></i></h4>
            <h3 class="tamaño_Titulos">Esto es el centro de eventos</h3>
            <p class="tamaño_Texto">
                Aquí podrás tener fácil acceso a las funciones del sistema como crear un nuevo evento,
                administrar los datos de los patrocinadores, usuarios, ubicaciones.
                Además de las funciones de edición a tus eventos como editar, eliminar y actualizar
            </p>
        </div>
    </div>
</div>

@*Edicion de eventos*@

<div class="miFuente mt-5 mb-5">
    <div class="row mb-5 mt-5">
        <div class="col img_box_1">
            <div class="mt-4">
                <h3 class="tamaño_SubTitulos">Eventos <i class="bi bi-calendar2-event-fill"></i></h3>
                <p class="tamaño_Texto">
                    Crea un nuevo evento desde 0 o también puedes editar eventos ya existentes
                    en la lista de control.
                </p>
                <div style="text-align:center;">
                    <a class="btn botones_estilo_2 miFuente">Eventos</a>
                </div>
            </div>
        </div>

        <div class="col centrarHorizontal">
            <img src="~/media/Eventos.png" alt="Persona en EventCentral" class="img_box_Circular_1"></img>
        </div>

    </div>
</div>


@*Edicion de Tipo de eventos*@

<div class="miFuente mt-5 mb-5">
    <div class="row mb-5 mt-5">
        <div class="col">
            <div>
                <img src="~/media/eventoPublico.jpg" class="img_box_Circular_1"></img>
                <img src="~/media/EventoPrivado.jpg" class="img_box_Circular_1" 
                style="margin-top:-370px; margin-left:250px;"></img>
            </div>
        </div>

        <div class="col img_box_2">
            <div class="mt-4">
                <h3 class="tamaño_SubTitulos">Tipos de eventos <i class="bi bi-archive-fill"></i></h3>
                <p class="tamaño_Texto">
                    Evento Central ya cuenta con una seria de categorías para los diferentes tipos de eventos,
                    pero también puedes crear tus propios tipos de eventos personalizados.
                </p>
                <div style="text-align:center;">
                    <a asp-controller="TipoEvento" asp-action="Index" class="btn botones_estilo_2 miFuente">
                        Tipos de eventos</a>
                </div>
            </div>
        </div>
    </div>
</div>


@*Ubicaciones*@

<div class="miFuente mt-5 mb-5">
        <div class="row mb-5 mt-5">
            <div class="col img_box_3">
                <div class="mt-4">
                    <h3 class="tamaño_SubTitulos">Ubicaciones <i class="bi bi-globe-americas"></i></h3>
                    <p class="tamaño_Texto">
                        Puedes almacenar los datos referentes a ubicaciones especificas como teatros,
                        galerias de arte, centros publicos, etc.
                    </p>
                    <div style="text-align:center;">
                        <a asp-controller="Ubicacion" asp-action="Index" class="btn botones_estilo_2 miFuente">Ubicaciones</a>
                    </div>
                </div>
            </div>

            <div class="col centrarHorizontal">
                <img src="~/media/mapa.png" class="img_box_Circular_1"></img>
            </div>
        </div>
</div>


@*Patrocinadores*@

<div class="miFuente mt-5 mb-5">
    <div class="row mb-5 mt-5">
        <div class="col centrarHorizontal">
            <img src="~/media//patrocinadores.jpg" class="img_box_Circular_1"></img>
        </div>

        <div class="col img_box_4">
            <div class="mt-4">
                <h3 class="tamaño_SubTitulos">Patrocinadores <i class="bi bi-wallet-fill"></i></h3>
                <p class="tamaño_Texto">
                    Si tu evento cuenta con patrocinadores puedes almacenar sus datos como el nombre de la empresa,
                    persona u organizacion que te patrocinan y formas de contactar con ellos.
                </p>
                <div style="text-align:center;">
                    <a asp-controller="Patrocinador" asp-action="Index" class="btn botones_estilo_2 miFuente">
                        Patrocinadores
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@*Usuarios*@