@{
    ViewData["Title"] = "Event Center - Centro De Eventos";
}

@*Titulo y Presentacion*@
<div class="encabezado_box miFuente">
    <div class="row">
        <div class="col mt-5 mb-5" style="text-align:center;">
            <img src="~/media/logo-EventCentral.png" alt="logo del sistema" class="logoEventCentral mb-5"/>
            <h3 class="tamaño_Titulos">Esto es el centro de gestion</h3>
            <p class="tamaño_Texto">
                Aqui podras tener facil acceso a las funciones del sistema como crear un nuevo evento, administrar los datos de
                los patrocinadores, usuarios, ubicaciones. Ademas de las funciones de edicion a tus eventos como editar, eliminar
                y actualizar
            </p>
        </div>
    </div>
</div>

@*Edicion de eventos*@
<form>
    <div class="encabezado_box_2 miFuente">
        <div class="row mb-5 mt-5">
            <div class="col">
                <h3>texto prueba</h1>
            </div>
        </div>
    </div>
</form>