@{
    ViewData["Title"] = "Event Center - Pagina Principal";
}

@*Titulo y logo*@
<div class="encabezado_box">
    <div class="row mb-5">
        <div class="col mt-5 mb-5 centrarHorizontal">
            <img src="~/media/logo-EventCentral.png" class="logoEventCentral" />
        </div>
        <div class="col miFuente centrarVertical">
            <div>
                <h1 class="tamaño_Titulos">Event Central</h1>
                <h2>"Organiza tus eventos de forma fácil y eficiente con nuestro sistema de gestión."</h2>
            </div>
        </div>
    </div>
</div>


@*Imagenes y textos bloque 1 (2 filas)*@
<div class="miFuente row mb-5 sombreadoBackground">
    <div class="col">
        <img src="~/media/ejemploEvento-2.jpg" class="img_box_1" alt="Evento publico" />
    </div>

    <div class="col centrarVertical">
        <div>
            <h2 class="tamaño_SubTitulos">Esto es Event Central</h2>
            <h4 class="tamaño_Texto">Un sistema de gestión de eventos de todo tipo, ya sean públicos o privados</h4>
        </div>
    </div>
</div>

<div class="miFuente row">
    <div class="col centrarVertical">
        <div>
            <h2 class="tamaño_SubTitulos">Puedes organizar todo tipo de eventos</h2>
            <h4 class="tamaño_Texto">Espectáculos, Conferencias, Ferias, Exhibiciones, Eventos de caridad o recaudación de fondos </h4>
        </div>
    </div>

    <div class="col d-flex justify-content-end">
        <img src="~/media/ejemploEvento-3.jpg" class="img_box_2" alt="Evento publico"/>
    </div>
</div>

@*Botones para funciones*@
<div class="encabezado_box mt-5 mb-5 miFuente centrarHorizontal">
    <div class="row">
        <div class="col mt-5 mb-5">
            <h4 class="tamaño_Titulos"><i class="bi bi-house-fill"></i></h4>
            <h2 class="tamaño_SubTitulos">Comienza a utilizar nuestro servicio.</h2>
        </div>
        <div class="row mb-5">
            <div class="col">
                <h3>Ve al centro de eventos</h3>
                <a asp-action="CentroDeEventos" class="btn botones_estilo_1 mt-3">Centro De Eventos <i class="bi bi-house-gear-fill"></i> </a>
            </div>
            <div class="col">
                <h3>Dale un vistazo a tus eventos</h3>
                <a asp-action="MisEventos" class="btn botones_estilo_1 mt-3">Mis Eventos <i class="bi bi-card-list"></i></a>
            </div>
            
        </div>
    </div>
    
</div>

@*Imagenes y textos bloque 2 (2 filas)*@
<div class="miFuente row mb-5 sombreadoBackground">
    <div class="col  ">
        <img src="~/media/ejemploEvento-4.jpg" class="img_box_3" alt="Evento publico" />
    </div>

    <div class="col  centrarVertical">
        <div>
            <h2 class="tamaño_SubTitulos">Fácil y Completo</h2>
            <h4 class="tamaño_Texto">
                Un sistema de gestión diseñado para ser simple,
                pero al mismo tiempo poder manipular la información de forma eficiente
            </h4>
        </div>
    </div>
</div>

<div class="miFuente row" >
    <div class="col mt-5 centrarVertical">
        <div>
            <h2 class="tamaño_SubTitulos">Para uso personal y profesional</h2>
            <h4 class="tamaño_Texto">
                Puedes usar Event Central como una agenda de eventos personales
                o como un gestor completo de eventos públicos y privados
            </h4>
        </div>
    </div>

    <div class="col mt-5 d-flex justify-content-end">
        <img src="~/media/ejemploEvento-1.jpg" class="img_box_4" alt="Evento publico"/>
    </div>
</div>
