@{
    ViewData["Title"] = "Event Center - Mis Eventos";
}

<h1 class="miFuente">Aqui van todos los eventos en una tabla</h1>
<h4 class="miFuente">Se tienen que poder editar, borrar y crear uno nuevo</h4>