@{
    ViewData["Title"] = "Vista de testeo";
}
<h1>@ViewData["Title"]</h1>

<div class="encabezado_box miFuente">
    <div class="row">
        <div class="col mt-5 mb-5">
            <h1>Titulo de mi vista</h1>
            <h3>Texto de ejemplo para un parrafo. </h3>
        </div>
        <div class="col centrarVertical">
            <p>
                Otro parrafo de ejemplo de texto para hacer pruebas con esta vista.
            </p>
        </div>
    </div>
</div>

<div class="encabezado_box_2 miFuente mt-5 mb-5">
    <div class="row">
        <div class="col mt-5 mb-5">
            <h4>Texto de ejemplo #2 con encabezado</h4>
            <div>
                <p>
                    Textos de relleno
                    Build started...
                    1>------ Build started: Project: SistemaGestionEventos, Configuration: Debug Any CPU ------
                    1>Skipping analyzers to speed up the build. You can execute 'Build' or 'Rebuild' command to run analyzers.
                    1>SistemaGestionEventos -> C:\Users\usuario\Desktop\Documentos\U\I PAC 2023\Programacion Orientada a Objetos\Unidad III\Proyecto Final\Proyecto-POO-IPAC-2023\SistemaGestionEventos\SistemaGestionEventos\bin\Debug\net6.0\SistemaGestionEventos.dll
                    ========== Build: 1 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========
                    ========== Elapsed 00:04,955 ==========
                </p>
            </div>
        </div>
    </div>
</div>

